<h1> Tasks : </h1>


<form method="POST" action="/" >

    {% csrf_token %}

    {{TaskForm.title}}

    <input class="btn" type="submit" name="Create Task">

</form>


{% for task in tasks %}

    <a href="{% url "update-task" task.id %}"> Update </a>

    <p>Task : {{task}}</p>

    {% comment %} <p>Is completed? - {{task.completed}}</p> {% endcomment %}

    {% if task.completed == True %}
    
        <p>Task completed? Yes</p>

    {% else %}
        <p>Task completed? No</p>
    {% endif %}

    <p>Created : {{task.created}}</p>

    <a href="{% url "delete-task" task.id %}"> Delete </a>
    <p>-------------</p>

{% endfor %}